@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        background: var(--color-main);
        color: var(--color-secondary);
        font-weight: 700 !important;
    }

    .blur {
        --blur: 64px;

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                backdrop-filter: blur((calc(var(--blur) / calc(2 * $i))));
                scale: calc($i * 1.25);
                height: calc(var(--blur) / calc(10 * $i));
            }
        }
    }

    a::selection {
        background: var(--color-main);
        color: var(--color-secondary);
    }
    *:focus {
        /* outline: 3px solid #2b90d4 !important; */
        outline-offset: 3px;
    }

    :root {
        overflow-x: hidden;
    }
}
.wavy {
    background-color: var(--color-main);
    --mask: radial-gradient(4.13px at 50% calc(100% + 0.9px), #0000 calc(99% - 2px), var(--color-main) calc(101% - 2px) 99%, #0000 101%) calc(50% - 6px)
            calc(50% - 2.5px + 0.5px) / 12px 5px repeat-x,
        radial-gradient(4.13px at 50% -0.9px, #0000 calc(99% - 2px), var(--color-main) calc(101% - 2px) 99%, #0000 101%) 50% calc(50% + 2.5px) / 12px 5px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
