@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        background: rgb(var(--color-selection-bg) / 0.5);
        color: rgb(var(--color-selection-text) / 1);
        font-size: 700 !important;
    }

    a::selection {
        color: white;
    }
    *:focus {
        /* outline: 3px solid #2b90d4 !important; */
        outline-offset: 3px;
    }

    :root {
        overflow-x: hidden;

        --noise: url(/noise-light.svg);
        --color-text-main: 45 55 42;
        --color-text-secondary: 78 88 75;
        --color-bg-main: 248 245 238;
        --color-bg-muted: 240 236 227;
        --color-bg-accent: 235 230 220;
        --color-border-main: 58 66 56;
        --color-accent: 76 98 68;
        --color-accent-hover: 62 84 54;
        
        --color-button-shadow: 45 55 42;
        --color-button-glow: 76 98 68;
        --color-cta: 220 38 127;
        --color-cta-hover: 190 24 93;

        --color-selection-bg: 94 108 91;
        --color-selection-text: 248 245 238;

        .noise-bg {
            background: var(--noise), linear-gradient(-20deg, rgb(var(--color-bg-muted) / 1) 40%, rgb(var(--color-bg-main) / 1) 80%);
        }
    }
    html.dark {
        --noise: url(/noise-dark.svg);

        .noise-bg {
            background: var(--noise), linear-gradient(-20deg, rgb(var(--color-bg-muted) / 1) 40%, rgb(var(--color-bg-main) / 1) 80%);
        }

        --color-text-main: 235 230 220;
        --color-text-secondary: 200 195 185;
        --color-bg-main: 75 90 70;
        --color-bg-muted: 85 100 80;
        --color-bg-accent: 95 110 90;
        --color-border-main: 200 195 185;
        --color-accent: 158 178 148;
        --color-accent-hover: 178 198 168;
        
        --color-button-shadow: 235 230 220;
        --color-button-glow: 158 178 148;
        --color-cta: 220 38 127;
        --color-cta-hover: 190 24 93;

        --color-selection-bg: 200 195 185;
        --color-selection-text: 45 55 42;
    }
}
.wavy {
    background-color: rgb(var(--color-border-main) / 0.7);
    --mask: radial-gradient(4.13px at 50% calc(100% + 0.9px), #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) calc(50% - 6px)
            calc(50% - 2.5px + 0.5px) / 12px 5px repeat-x,
        radial-gradient(4.13px at 50% -0.9px, #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) 50% calc(50% + 2.5px) / 12px 5px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
