---
import Layout from '@/layouts/Layout.astro';
import { getTranslations } from '@/i18n/utils';
import { defaultLang, type Language } from '@/i18n/ui';
import { ProyectStack } from '@/components/ProyectStack.tsx';

interface Props {
    lang?: Language;
}

const { lang = defaultLang } = Astro.props as Props;

const t = getTranslations(lang);
---

<Layout
    title={t('nav.projects')}
    description={t('nav.projects')}
    showHeader={true}
    headerTitle={t('nav.projects')}
    headerSubtitle={t('nav.projects')}
    lang={lang}
>
    <h1 class="mb-12 text-2xl leading-tight font-mono sm:mb-16 sm:text-4xl">{t('nav.projects')}</h1>

    <ProyectStack client:visible ></ProyectStack>
</Layout>
