---
import BigSectionContainer from '../BigSectionContainer.astro';
import { getTranslations } from '@/i18n/utils';
import { defaultLang, type Language } from '@/i18n/ui';
import Button from '../Button.astro';
import ThemedImage from '../ThemedImage.astro';

interface Props {
    className?: string;
    lang?: Language;
}

const { className = '', lang = defaultLang } = Astro.props;
const t = getTranslations(lang);
---

<BigSectionContainer title={t('about.tldr.title')} id="about" style="view-transition-name: about-section;">
<div class="flex flex-col md:flex-row gap-4 items-start  ">
    <div class="max-w-64 w-64 h-64 overflow-hidden aspect-square">
        <ThemedImage src="/me.png" alt="Allison Peña" class="w-full h-full" />
    </div>
    <div className={"w-full " + className} style="view-transition-name: tldr-content;">

        <!-- Professional summary -->
        <div style="view-transition-name: tldr-description;" class="py-4 w-full">
            <p class="text-base text-main mb-6" style="max-width: var(--paragraph-max-width);">
                {t('about.tldr.description')}
            </p>
            
            <!-- Interactive CTA button -->
            <div class="mt-8 flex justify-end">
                <Button 
                    variant="outline"
                    elevated
                 
                >
                    {t('about.collaboration.title')}
                </Button>
            </div>
        </div>
    
    </div>
</div>
</BigSectionContainer>