---
/* Static content with lorem ipsum, as requested */
---
<article class="relative z-0">
  <!-- Perspective on wrapper -->
  <div class="group [perspective:400px]">
    <!-- Constant tilt: origin bottom, tilt applied always -->
    <div class="[transform-origin:50%_100%] [transform:rotateX(-4deg)] transition-transform duration-200 ease-out">
      <!-- Only Y-lift on hover; no scale; no z-index changes -->
      <div class="h-[80px] transform-gpu will-change-transform transition-transform duration-200 ease-out group-hover:-translate-y-5">
        <div class="relative">
          <div class="absolute top-0 translate-y-[-100%] font-bold border border-b-0 w-fit py-2 px-4 bg-red-500 text-white overflow-hidden ">
           FOLDER
          </div>
          <div class="border p-4 bg-red-500 text-white overflow-hidden h-96">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus ratione sunt amet officia necessitatibus accusamus temporibus error? Dignissimos provident quaerat nam natus consequuntur a officia libero saepe aliquid sapiente!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus ratione sunt amet officia necessitatibus accusamus temporibus error? Dignissimos provident quaerat nam natus consequuntur a officia libero saepe aliquid sapiente!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus ratione sunt amet officia necessitatibus accusamus temporibus error? Dignissimos provident quaerat nam natus consequuntur a officia libero saepe aliquid sapiente!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus ratione sunt amet officia necessitatibus accusamus temporibus error? Dignissimos provident quaerat nam natus consequuntur a officia libero saepe aliquid sapiente!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus ratione sunt amet officia necessitatibus accusamus temporibus error? Dignissimos provident quaerat nam natus consequuntur a officia libero saepe aliquid sapiente!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus ratione sunt amet officia necessitatibus accusamus temporibus error? Dignissimos provident quaerat nam natus consequuntur a officia libero saepe aliquid sapiente!
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
