---
import Layout from '@/layouts/Layout.astro';
import CV from '@/components/CV.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { defaultLang } from '@/i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`${t('cv.title')} - ${t('site.title')}`} description={t('about.tldr.description')} lang={lang}>
    <div class="pt-4 print:pt-0">
        <CV lang={lang} />
    </div>
</Layout>