---
export interface Props { 
  title: string; 
  id: string;
  class?: string;
  style?: string;
}

const {
  title,
  id, 
  class: className,
  style,
} = Astro.props as Props;
---

<section
  id={id}
  class={className}
  style={style}
>
  <div class="border-b border-double mb-1">
    <h2 class="text-lg">
      {title}
    </h2>
  </div>

  <div >
    <slot />
  </div>
</section>
 
