
<div class="relative border p-6 overflow-hidden leading-relaxed text-justify">
  <div
    class="float-left w-full h-[300px] bg-green-400/50"
    style="
      shape-outside: polygon(100% 0, 0 50%, 0 0); 
    "
  ></div>


  <h4 class="font-bold text-xl mb-2">Hola mundo</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam eveniet fugit magni neque eum,
    quasi nulla consequatur deserunt natus enim. Accusamus natus eum consequatur eligendi ad iure sint
    impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, rem? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Placeat libero at doloribus reprehenderit blanditiis!
  </p>
    <div
    class="float-right w-full h-[200px] bg-green-800/90"
    style="
      shape-outside: polygon(100% 80%, 0 100%, 100% 100%); 
    "
  ></div>

</div>