<div class="flex items-center justify-start border-b-1 font-bold border-main gap-1 !text-xs text-main/50 border-double font-mono uppercase tracking-relaxed py-1 mb-4">
    <span>/</span>
    <span>
        {Astro.props.title}
    </span>
</div>
