<div class="flex items-center justify-start border-b border-main gap-1 !text-xs text-main font-mono uppercase tracking-relaxed py-1">
    <span>/</span>
    <span>
        {Astro.props.title}
    </span>
</div>
