---
export interface Props {
  height?: string;
  margin?: string;
}

const { 
  height = '50px',
  margin = '0'
} = Astro.props;
---

<div style={`margin: ${margin}px`} class="relative">
  <div class="diagonal-stripe" style={`height: ${height}`}></div>
</div>

 