---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`relative left-1/2 right-1/2 -ml-[50dvw] -mr-[50dvw] w-[100dvw] ${className}`}>
  <slot />
</div>