---
import siteConfig from '../data/site-config';
const { title = null, subtitle = null,   } = Astro.props;
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <span class="font-serif text-4xl leading-tight font-medium text-theme-foreground sm:text-5xl"  >
                { title ? title : siteConfig.title} 
            </span>
        )
    }
    {subtitle ? <p class="text-base leading-tight mt-2">{subtitle}</p> : siteConfig.subtitle && <p class="text-base leading-tight mt-2">{siteConfig.subtitle}</p>}
</header>
