---
interface Props {
  text: string;
  author: string;
  reference?: {
    label: string;
    link: string;
  };
}

const { text, author, reference } = Astro.props;
---

<blockquote class="quote">
  <p class="quote__text">{text}</p>
  <footer class="quote__footer">
    <cite class="quote__author">{author}</cite>
    <!-- add reference if provided -->
      {reference && (
        <span class="mx-2">—</span>
        <a href={reference.link} target="_blank" rel="noopener noreferrer" class="quote__reference">
            {reference.label}
        </a>
      )}
  </footer>
</blockquote>

<style lang="scss">
  .quote {
    font-family: Arial, sans-serif;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px sAolid #ccc;
    color:black
  }

  .quote__text {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px; 
  }

  .quote__footer {
    display: flex;
    align-items: center; 
  }

  .quote__reference { 
    &:hover {
        text-decoration: underline;
    }
  }

  .quote__author {
    font-weight: bold;
  }
</style>