---
const { label } = Astro.props;

const anchorSlug = label.toLowerCase().replaceAll(' ', '-');
---

<div class="flex gap-2 items-center mb-6">
    <h2 class="text-xl font-serif italic px-1" id={anchorSlug}>{label}</h2>
    <div class="w-1/12 overflow-hidden rounded-full  ">
        <hr class=`wavy w-[1000px] h-2 group-hover/section:animate-wave group-focus-within/section:animate-wave` />
    </div>
</div>
