---
import TableOfContents from './TableOfContents.astro';
import Button from './Button.astro';
import { getTranslations, defaultLang, type Language } from '@/i18n/utils';

interface Props {
    contentId?: string;
    className?: string;
    lang?: Language;
}

const { 
    contentId = 'main-content',
    className = '',
    lang = defaultLang
} = Astro.props;

const t = getTranslations(lang);
---

<aside class={`w-[250px] flex-shrink-0 hidden lg:block ${className}`} id="content-sidebar">
    <div class="sticky top-20 py-8 px-4">
        <!-- Table of Contents -->
        <TableOfContents contentId={contentId} lang={lang} />
        
        
    </div>
</aside>


