---
interface Props {
  text: string;
}

const { text } = Astro.props;
const slug = text.toLowerCase().replace(/\s+/g, '-');
---

<a href={`/tags/${slug}`} class="inline-block bg-main text-secondary px-3 py-1 !text-xs font-mono font-medium border-2 border-main hover:bg-secondary hover:text-main focus:bg-secondary focus:text-main focus:outline-none">
  #{text}
</a>
