---
const { words } = Astro.props;
---

<div class="text-lg text-main/70 max-w-2xl">
  {words.split(' ').map((word, idx) => (
    <span class="inline-block pl-[0.3ch]">
      {word}{" "}
    </span>
  ))}
</div>