---
import DarkMode from '../icons/DarkMode.astro';
import LightMode from '../icons/LightMode.astro';
---

<button id="theme-toggle" class="w-8 h-8 -mr-2 flex items-center justify-center rounded-full" aria-label="Change color scheme">
  <span class="dark:hidden">
    <DarkMode />
  </span>
  <span class="hidden dark:inline">
    <LightMode />
  </span>
</button>

<script>
  function updateTheme() {
    const theme = localStorage.getItem('theme') || 'light';
    document.documentElement.classList.toggle('dark', theme === 'dark');
    const themeToggleButton = document.getElementById('theme-toggle');
    themeToggleButton?.setAttribute('aria-label', `Cambiar a modo ${theme === 'light' ? 'oscuro' : 'claro'}`);
    themeToggleButton?.setAttribute('title', `Cambiar a modo ${theme === 'light' ? 'oscuro' : 'claro'}`);
  }

  document.addEventListener('astro:page-load', () => {
    updateTheme();

    const handleToggleClick = () => {
      const isDark = document.documentElement.classList.toggle('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
      updateTheme();
    };

    document.getElementById('theme-toggle')?.addEventListener('click', handleToggleClick);
  });

  document.addEventListener('astro:after-swap', updateTheme);
</script>