---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'; 
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<Layout
    title="Proyectos"
    description="Conoce en lo que he trabajado"
    showHeader={true}
    headerTitle="Proyectos"
    headerSubtitle='En lo que he Colaborado'
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Proyectos</h1>
    <!-- <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        {portfolio.map((project) => <ProjectCard project={project} />)}
    </div>
    <Pagination page={page} class="my-8 sm:my-12" /> -->
</Layout>
